/* PERSON */
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #191970;
  padding: 10px;
}

.person .name,
.person .details {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.person .name {
  font-size: 30px;
  margin: 0;
}

.person .details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}

/* Education */
.education {
  display: grid;
  grid-template-columns: 300px 1fr;
  row-gap: 5px;
  align-items: center;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;

  margin-bottom: 10px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800020;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  margin: 0;
}

.education .date {
  grid-column: 1;
  grid-row: 2;
}

.education .location{
  grid-column: 1;
  grid-row: 3;
}

.education .sch {
  grid-column: 2;
  grid-row: 2;
  font-size: 24px;
  font-weight: bold;
}

.education .deg {
  grid-column: 2;
  grid-row: 3;
}

/* EXP */
.exp {
  display: grid;
  grid-template-columns: 300px 1fr;
  row-gap: 5px;
  align-items: center;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
}

.exp .cname {
  grid-column: 2;
  grid-row: 1;
  font-size: 24px;
  font-weight: bold;
}

.exp .pos {
  grid-column: 2;
  grid-row: 2;
}
.exp .date{
  grid-column: 1;
  grid-row: 1;
}
.exp .location{
  grid-column: 1;
  grid-row: 2;
}
.exp .desc{
  grid-column: 2;
  grid-row: 3;
}

/* APP */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  min-height: 100svh;
}

/* CV */
.cv {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 50%;
  min-height: 100%;
  border: 2px solid palevioletred;
  /* gap: 20px; */
}




/* Input Details */
.inputDetails {
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
}

.inputBox{
  border: 2px solid rebeccapurple;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 50px;
}